---
import Layout from '../layouts/Layout.astro';
import Container  from '../components/core/Container.astro';
import Chat from '../components/ChatProd.astro';
---
<Layout title="Mijn Amsterdam | Chatbot Productie">
    <Container>
        <h1>Chat Productie</h1>

        <Chat></Chat>
    </Container>
</Layout>
