---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script type='text/javascript'>
			function initEmbeddedMessaging() {
				try {
					embeddedservice_bootstrap.settings.language = 'nl-NL'; // For example, enter 'en' or 'en-US'

					//Turns of the chat button
					// embeddedservice_bootstrap.settings.hideChatButtonOnLoad = true;

					embeddedservice_bootstrap.init(
						'00D7a000000574Q',
						'GemeenteAmsterdamMessagingWeb',
						'https://omnichanneliv--test.sandbox.my.site.com/ESWGemeenteAmsterdamMessage',
						{
							scrt2URL: 'https://omnichanneliv--test.sandbox.my.salesforce-scrt.com'
						}
					);
				} catch (err) {
					console.error('Error loading Embedded Messaging: ', err);
				}
			};

			function checkIfChatSessionIsCreated() {
				const orgId = '00D7a000000574Q';
				const storageItemSuffix = '_WEB_STORAGE';
				const storageItem = localStorage.getItem(orgId + storageItemSuffix)

				let hasSession = false;
				if (storageItem) {
					const storageObj = JSON.parse(storageItem);
					if (Object.keys(storageObj).length > 0) {
						hasSession = true;
					}
				}

				return hasSession;
			}

			function showChatBasedOnTaxonomy() {
				return true;
			}

			window.addEventListener("onEmbeddedMessagingReady", e => {
				embeddedservice_bootstrap.prechatAPI.setHiddenPrechatFields({
					"Start_Location" : window.location.href,
					"Chat_Origin": "Website"
				});

				if (checkIfChatSessionIsCreated()) {
					// Launches a chat and can be even used when the button is not visible
					embeddedservice_bootstrap.utilAPI
						.launchChat()
						.then(function (success) {
							/**
							 * Check if u want to turn on the chat button.
							 */
							if (checkIfChatSessionIsCreated() || showChatBasedOnTaxonomy()) {
								// Shows the chat button
								embeddedservice_bootstrap.utilAPI.showChatButton();
							}
						})
						.catch(function (error) {
							// Add actions to run after the chat client launch fails.
						})
						.finally(function () {
							// Add actions to run whether the chat client launches
							// successfully or not.
						});
				}
			});
		</script>
		<script type='text/javascript' src='https://omnichanneliv--test.sandbox.my.site.com/ESWGemeenteAmsterdamMessage/assets/js/bootstrap.min.js' onload='initEmbeddedMessaging()'></script>

	</body>
</html>
<style is:global>
	:root {
		--accent: 236, 0, 0;
		--accent-light: 0, 70, 153;
		--accent-dark: 0, 45, 90;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
